body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header { 
  position: fixed;
  margin-top: 46px;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: lightcoral;
  z-index: 1000
}
.sidebar {
  position: fixed;
  margin-top: 200px;
  top: 0px;
  left: -300px;
  height: 100%;
  width: 300px;
  transition: left .3s ease-in-out;
  background-color: white;
}
.content {
  position: absolute;
  margin-top: 200px;
  top: 0px;
  left: 0;
  right: 0;
  height: 100%;
  transition: left .3s ease-in-out;
  background-color: lightgray;
}
.sidebar.open {
    left: 0;
}
.content.open {
    left: 300px;
}